services:
  lb:
    build:
      context: .
      dockerfile: ./load-balancer/Dockerfile
    ports:
      - "8000:8000"
    environment:
      ALGORITHM: ${ALGORITHM:-round_robin}  # Options: round_robin, weighted_round_robin, least_connections
    volumes:
      - ./results:/app/results  # Mount results directory to save CSV files
    depends_on:
      - backend1
      - backend2
      - backend3
      - backend4

  backend1:
    build:
      context: .
      dockerfile: ./backend/Dockerfile
    environment:
      SERVER_ID: backend1
      DELAY_MS: 10
    deploy:
      resources:
        limits:
          cpus: "0.5"

  backend2:
    build:
      context: .
      dockerfile: ./backend/Dockerfile
    environment:
      SERVER_ID: backend2
      DELAY_MS: 30
    deploy:
      resources:
        limits:
          cpus: "1.0"

  backend3:
    build:
      context: .
      dockerfile: ./backend/Dockerfile
    environment:
      SERVER_ID: backend3
      DELAY_MS: 60
    deploy:
      resources:
        limits:
          cpus: "0.3"

  backend4:
    build:
      context: .
      dockerfile: ./backend/Dockerfile
    environment:
      SERVER_ID: backend4
      DELAY_MS: 0
    deploy:
      resources:
        limits:
          cpus: "2.0"
