services:
  lb:
    build:
      context: .
      dockerfile: ./load-balancer/Dockerfile
    ports:
      - "8000:8000"
    environment:
      ALGORITHM: ${ALGORITHM:-round_robin}  # Options: round_robin, weighted_round_robin, least_connections
    volumes:
      - ./logs:/app/logs  # Mount logs directory to access logs from host
    deploy:
      resources:
        limits:
          cpus: "2.0"
          memory: 1G
    depends_on:
      - backend1
      - backend2
      - backend3
      - backend4

  backend1:
    build:
      context: .
      dockerfile: ./backend/Dockerfile
    environment:
      SERVER_ID: backend1
    volumes:
      - ./logs:/app/logs  # Mount logs directory to access logs from host
    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: 256M

  backend2:
    build:
      context: .
      dockerfile: ./backend/Dockerfile
    environment:
      SERVER_ID: backend2
    volumes:
      - ./logs:/app/logs  # Mount logs directory to access logs from host
    deploy:
      resources:
        limits:
          cpus: "1.0"
          memory: 512M

  backend3:
    build:
      context: .
      dockerfile: ./backend/Dockerfile
    environment:
      SERVER_ID: backend3
    volumes:
      - ./logs:/app/logs  # Mount logs directory to access logs from host
    deploy:
      resources:
        limits:
          cpus: "0.3"
          memory: 128M

  backend4:
    build:
      context: .
      dockerfile: ./backend/Dockerfile
    environment:
      SERVER_ID: backend4
    volumes:
      - ./logs:/app/logs  # Mount logs directory to access logs from host
    deploy:
      resources:
        limits:
          cpus: "2.0"
          memory: 1G